{% extends "users/base-users.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% load static %}
{% block title %}
    Авторизация
{% endblock title %}
{% block users %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Отлично!</h4>
        <p>Новый пароль для вашей учетной записи успешно установлен.</p>
        <hr>
        <p class="mb-0">
            <a href="{% url 'index' %}" class="text-dark">за покупками</a>
        </p>
    </div>
{% endblock users %}
