{% extends "users/base-users.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% load static %}
{% block title %}
    Авторизация
{% endblock title %}
{% block users %}
    <!-- Reset Password section -->
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
            <h3 class="text-center font-weight-light my-4">
                Восстановление пароля
            </h3>
        </div>
        <div class="card-body text-center">
            {% element form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        {{ form.password1 }}
                        <label for="inputPassword">Введите пароль</label>
                        <div id="validationServerPassword" class="invalid-feedback">
                            {{ form.password1.errors }}
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password2 }}
                        <label for="inputPassword">Повторите пароль</label>
                        <div id="validationServerPassword" class="invalid-feedback">
                            {{ form.password2.errors }}
                        </div>
                    </div>
                {% endslot %}
                {% slot actions %}
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-5">
                        <button type="submit" class="btn btn-outline-dark">Сохранить</button>
                    </div>
                {% endslot %}
            {% endelement %}
        </div>
        <div class="card-footer text-center py-3">
            <div class="small mb-3">
                <a class="link-dark" href="{% url 'users:login' %}" style="text-decoration: None;">
                    Уже есть аккаунт? Войти!
                </a>
            </div>
            <div class="small">
                <a class="link-dark" href="{% url 'users:signup' %}" style="text-decoration: None;">
                    Еще нет аккаунта? Зарегистрируйся!
                </a>
            </div>
        </div>
    </div>
{% endblock users %}
