{% extends "base.html" %}

{% block title %}
    404 - Skillbox Market
{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="text-center">
                <div class="error mx-auto display-1" data-text="404">404</div>
                <p class="lead text-gray-800 mb-5">Страница не найдена</p>
                <p class="text-gray-500 mb-0">Похоже, что такой страницы не существует...</p>
                <a href="../index.html" class="text-secondary">&larr; Вернуться на Главную страницу</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %} {% endblock %}
