{% extends "base.html" %}

{% block title %}
    500 - Skillbox Market
{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="text-center">
                <p class="lead text-gray-800 mb-5 display-5">Сбой на стороне сервера</p>
                <p class="text-gray-500 mb-0">У нас что-то сломалось, но мы уже чиним!</p>
                <a href="../index.html" class="text-secondary">&larr; Вернуться на Главную страницу</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %} {% endblock %}